*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  max-width: 1158px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  max-width: 100%;
  display: block;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 200px;
}

.modal-window {
  background-color: rgba(46, 47, 66, 0.8);
}
.modal-img {
  width: 1112px;
  height: 640px;
}
